
# The MySQL database server configuration file.
#
[client]
user = root
port            = 3306
socket          = /tmp/mysql.sock

[mysql]
prompt=\u:\d>\_

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket          = /tmp/mysql.sock
#nice           = 0

[mysqld]
user=root
#
# * Basic Settings
#
default-storage-engine = innodb
skip-grant-tables
pid-file        = /path/to/datadir/mysql.pid
socket          = /tmp/mysql.sock
port            = 3306
datadir         = /path/to/datadir/
log-error		= /path/to/logdir/mysql_error_nvdimm.log

##################################################
# Need to Modify
##################################################
#Log group path (iblog0, iblog1)
innodb_log_group_home_dir=/path/to/logdir/

#innodb page size
innodb_page_size=4KB

#
# * InnoDB
#

# NVDIMM-IPL settings
innodb_use_nvdimm_ppl=true
innodb_nvdimm_home_dir=/mnt/pmem
innodb_nvdimm_size=1G
innodb_nvdimm_ppl_block_size=64
innodb_nvdimm_max_ppl_size=256
innodb_use_nvdimm_ppl_recovery=false
innodb_use_nvdimm_redo=true
innodb_use_nvdimm_dwb=true
innodb_use_ppl_cleaner=false
innodb_use_ppl_mvcc=false

#file per table ON
innodb_file_per_table=1

#buffer settings
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=8
innodb_max_dirty_pages_pct_lwm=0

#etc
log_error_verbosity=3
innodb_page_cleaners=8

#transaction log settings
innodb_log_file_size=2G
innodb_log_files_in_group=3

# 0:every 1 seconds, 1:fsync on commits, 2:writes on commits
innodb_flush_log_at_trx_commit=0
innodb_log_buffer_size=32M
innodb_flush_neighbors=0

#doublewrite and flush method
innodb_doublewrite=ON
innodb_flush_method=O_DIRECT

#AIO control
innodb_use_native_aio=true
innodb_change_buffering=none
innodb_lru_scan_depth=1024

# etc settings
max_connections = 1024
open_files_limit = 24000


# io settings
#innodb_io_capacity = 500
#innodb_io_capacity_max = 1000
#innodb_write_io_threads = 8
#innodb_read_io_threads = 8

# monitoring settings
#innodb_monitor_enable = all
#performance-schema-instrument='wait/synch/mutex/innodb/%=ON'
#performance-schema-instrument='wait/synch/sxlock/innodb/%=ON'
#performance-schema-instrument='wait/io/file/%=ON'
#performance-schema-instrument='wait/lock/%=ON'
#performance-schema-instrument='buffer_LRU_get_free_waits=ON'
#performance-schema-instrument='wait/synch/rwlock/innodb/%=ON'
#innodb_status_output = ON
#innodb_status_output_locks = ON
